img {
    max-width: 150px;
    max-height: auto;
}

.smallskip {
    height: 5px;
}

.medskip {
    height: 10px;
}

.bigskip {
    height: 20px;
}

.info-panel {
    display: inline-block;
    margin-top: 10px;
    max-width: 600px;
    font-size: 11pt;
}

.container {
    display: block;
    min-height: 100%;
    position: relative;
}

.info {
    padding-bottom: 80px;
    min-height: 100%;
}

.footer {
    width: 100%;
    margin-top: -80px;
    padding-top: 60px;
    height: 100px;
    text-align: left;
    font-size: 8pt;
    bottom: 0px;
}
